<div class="topmenu" ng-controller="TopMenuController">

  <koa-toolbar>
    <koa-icon-button icon="{{topmenu.icon}}" ng-if="!showBack" ng-click="showTopMenu()"></koa-icon-button>
    <koa-icon-button icon="arrow-back" ng-click="goBack()" ng-if="showBack"></koa-icon-button>
    <img id="logo" ng-src="{{topmenu.modulescope.toolbarLogo}}" ng-if="topmenu.modulescope.toolbarLogo">
    <span class="title" ng-if="topmenu.modulescope.toolbarTitle">{{toolbar.title}}</span>
  </koa-toolbar>

  <div id="menu" ng-class="topmenu.shown ? 'shown' : ''" ng-style="gridStyle">
    <div id="imgHeaderContainer"
         ng-class="{{ topmenu.modulescope.hasOverflow }} ? 'styleOverflow' : 'styleCentered'"
         ng-show="{{ topmenu.modulescope.hasHeaderImage }}"
         style="background-color: {{topmenu.modulescope.headerColor}};">
           <img id="imgHeader"
             ng-class="{{ topmenu.modulescope.hasOverflow }} ? 'styleOverflow' : 'styleCentered'"
             ng-src="{{ topmenu.modulescope.headerImageUrl }}">
           </img>
    </div>
    <div style="display:{{displayStyle}}" class="itemsContainer">
      <koa-grid columns="{{topmenu.modulescope.columns}}"  >
        <a ng-class="{ border:  topmenu.modulescope.border != 0, selected: $index === currentIndex }" ng-click="checkbutton({{module.url}})" ng-href="{{module.url}}" style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}}; " ng-repeat="module in topmenu.modules">
          <koa-icon ng-class="topmenu.modulescope.iconPosition" icon="{{module.icon}}" ng-if="topmenu.modulescope.showicons"></koa-icon>
          <div class="text" ng-class="topmenu.modulescope.iconPosition">{{module.text}}</div>
        </a>
      </koa-grid>
    </div>
    
  </div>

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="topmenuTemplate"></div>
  </div>
</div>
