<div class="topmenu" ng-controller="TopMenuController">

  <koa-toolbar>
    <koa-icon-button icon="{{topmenu.icon}}" ng-click="showMenu()"></koa-icon-button>
    <img id="logo" ng-src="{{topmenu.modulescope.logo}}" ng-if="topmenu.modulescope.logo">
    <span class="title" ng-if="topmenu.modulescope.title">{{toolbar.title}}</span>
  </koa-toolbar>

  <div id="menu" ng-class="topmenu.shown ? 'shown' : ''">
    <koa-grid columns="{{topmenu.modulescope.columns}}">
      <a href="{{module.url}}" style="background-image: url('{{module.backgroundImage}}'); background-color: {{module.backgroundColor}};" ng-repeat="module in topmenu.modules">
        <koa-icon icon="{{module.icon}}" ng-if="module.icon"></koa-icon>
        <div>{{module.text}}</div>
      </a>
    </koa-grid>
  </div>

  <div id="main">
    <!-- moduleIdentifier + Template -->
    <div ng-include="topmenuTemplate"></div>
  </div>

</div>
